*{
  box-sizing:border-box;
}
body{
  margin: 0;
}
.bigcontainer{
  background: lightblue;
  display: flex;
  padding: 10px;
  flex-direction: column;
  height:100vh;
}
.topmain{
  height: 20%;
  background-color: green;
  display: flex;
  justify-content: space-between;
}
.bottommain{
  height: 80%;
  background-color: pink;
  display: flex;
  justify-content: space-between;
}
.topitem{
  background-color: blue;
  width: 33%;
  height: 100%;
  /* margin: 10px; */
}
.bottomitem{
  background-color: orange;
  width: 49%;
  height: 100%;
}
.centerflex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.centeritem{
  background: yellow;
  height: 100px;
  width: 100px;
}
.vertstack{
  height: 24.5%;
  width: 100%;
  background: red;
}
.align{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
