img{
  max-width: 100%;
  }
.small-img{
  width: 400px;
}

p {
  font-size:40px;
  color:green;
  background:black;
}
.orange {
  background: blue;
  width: 700px;
  border: 2px dashed blue;
  border-radius: 20px;
  /* padding: 60 60 60 120; */
/* padding: top right bottom left */
/* padding: top/bottom left/right */
  /* margin: 300 */
  line-height: 40px;
  font-family: 'helvetica', sans-serif;
}
a{
  text-decoration: none;
  color: red;
  font-style: italic;
  font-weight: bold;
}

ul{
  list-style-type:lower-greek;
}
/* you can target em with
em{
 font-style: normal;
 blahblahblah
} */
