*{
  box-sizing:border-box;
}
body{
  margin: 0;
}
.flex{
  background: green;
  height:100vh;
  display: flex;
}

.half{
  background: pink;
  height: 100%;
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle{
  background: blue;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: pulse 3s ease infinite alternate;
}
.square{
  background: blue;
  width: 200px;
  height: 200px;
  animation: rotate 3s infinite linear;
}

.runner{
  background: purple;
  width: 300px;
  height: 100px;
  position: fixed;
  bottom: 0;
  left:0;
  animation: run 5s infinite linear;
}

@keyframes run{
  0%{
    transform:translateX(-300px);
  }
  100%{
    transform:translateX(100vw);
  }
}

@keyframes pulse{
  0% {
    background:blue;
    transform: scale(1);
  }
  100% {
    background:red;
    transform: scale(2);
  }
}

@keyframes rotate{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  /* 100% {
    background:blue;
  } */
}
