*{
  box-sizing:border-box;
}
html{
  font-size: 100%;
}
body{
  margin: 0;
}
.button {
  background: rgb(0, 170, 63);
  cursor: pointer;
  padding: 1rem;
  width: 120px;
}
.style {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
}
