*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}

.bigboi{
  background-color: red;
  height: 100vh;
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bigtop{
  height: 24%;
  display: flex;
  justify-content: space-between;
}

.toptrio{
  background-color: pink;
  height: auto;
  width: 32%;
}

.bigbot{
  height: 72%;
  display: flex;
  justify-content: space-between;
}

.botleft{
  width: 49%;
  height: 100%;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftmid{
  background-color: white;
  width: 20%;
  height: 20%;
}

.botright{
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightstack{
  background-color: pink;
  width: auto;
  height: 21%;
}
